<ng-container *ngIf="vm$ | async as vm">
  <!-- Loading -->
  @if (vm.loading) {
    <section class="py-4">
      <div class="container">
        <div class="alert alert-info mb-0">در حال بارگذاری...</div>
      </div>
    </section>
  }

  <!-- Error -->
  @if (!vm.loading && vm.errorMsg) {
    <section class="py-4">
      <div class="container">
        <div class="alert alert-danger mb-0">{{ vm.errorMsg }}</div>
      </div>
    </section>
  }

  <!-- List -->
  @if (!vm.loading && !vm.errorMsg) {
    @if ((vm.allConferences?.length ?? 0) === 0) {
      <section class="py-4">
        <div class="container">
          <div class="alert alert-secondary mb-0">کنفرانسی برای نمایش وجود ندارد.</div>
        </div>
      </section>
    } @else {
      @for (item of vm.allConferences; track item.id) {
        <div class="conference-card shadow-sm">
          <div class="row g-3 align-items-stretch">

            <!-- تصویر پوستر -->
            <div class="col-12 col-md-3">
              <a class="poster-wrapper" [routerLink]="['/conference', item.slug]">
                <img src="./confereence-bg.jpg" alt="پوستر کنفرانس">
              </a>
            </div>

            <!-- متن و اطلاعات -->
            <div class="col-12 col-md-6">
              <h5 class="conf-title mb-2">{{ item.title }}</h5>
              <h6 class="conf-title mb-2">{{ item.short_description }}</h6>

              <div class="conf-meta">
                <div class="meta-item">
                  <span class="meta-label">تاریخ شروع:</span>
                  <span class="badge bg-soft-primary text-primary">{{ item.start_date }}</span>
                </div>

                <div class="meta-item">
                  <span class="meta-label">تاریخ پایان:</span>
                  <span class="badge bg-soft-primary text-primary">{{ item.end_date }}</span>
                </div>

                <div class="meta-item">
                  <span class="meta-label">وضعیت:</span>
                  <span class="badge bg-soft-success text-success">{{ item.status }}</span>
                </div>
              </div>
            </div>

            <!-- اکشن‌ها -->
            <div class="col-12 col-md-3 d-flex flex-column justify-content-between align-items-md-end">
              <div class="text-md-end mb-2 mb-md-0 d-flex align-items-md-end justify-content-end h-100">
                <a [routerLink]="['/conference', item.slug]" class="btn btn-primary btn-sm w-100">
                  مشاهده جزئیات
                </a>
              </div>
            </div>

          </div>
        </div>
      }
    }
  }
</ng-container>
